<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key><string>osm_map_cpp</string>
    <key>CFBundleIdentifier</key><string>com.osm-map-cpp</string>
    <key>CFBundleName</key><string>OpenStreetMap Viewer</string>
    <key>CFBundlePackageType</key><string>APPL</string>
</dict>
</plist>
